$container-width: 600px;

$color-basic: #787B80;
$color-basic-heading: #384048;
$color-1: #50C3AF;
$color-2: #d2d5da;
$color-3: #293139;
$color-bg-1: #f5f5f5;
$color-bg-2: #eeeeef;
$color-4: #e2e3e4;

$basic-font-size: 14px;
$basic-font-stack: 'PT Sans', sans-serif;
$semibold-weight: 600;



